[Unit]
Description=Network Usage Web UI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/elyar/Projects/network-usage-webui
ExecStart=/usr/bin/python3 /home/elyar/Projects/network-usage-webui/app.py
Restart=always
RestartSec=3
User=root
Group=root

[Install]
WantedBy=multi-user.target
